<div style="display: flex; justify-content: center, align-items: center">
    <img src="http://verticalinvestimentos.com/assets/images/simbolo-vertical.png" height="96px" />
</div>
<div>
    {{{ body }}}
</div>
<div style="margin:10px">
    Vertical investimento
</div>